.container {
    display: flex 1;
    width: 100%;
}

#icon {
    position: absolute;
    width: 40px;
    margin-left: -240px;
    margin-top: -5px;
    text-align: left;
}

header {
    color: green;
    font-family: alien;
    text-align: center;
    
}

@font-face {
    font-family: alien;
    src: url(/fonts/Sevastopol-Interface.ttf);
}
body {
    background-image: url(/img/alienbackground.jpg);
    backdrop-filter: blur(8px);
}

.navbar-brand {
    margin-left: 60px;
}

.nav-link {
    margin-top: 10px;
    transform: translateY(-5px);
}

.nav-link:hover {
    transition: transform 0.3s;
}

.nav-item {
    font-weight: bolder;
}

aside {
    text-align: right;
    margin-top: 125px;
    margin-right: -230px;
}

