#icon {
    position: absolute;
    width: 40px;
    margin-left: -240px;
    margin-top: -5px;
    text-align: left;
}

header {
    color: white;
    font-family: alien;
    text-align: center;
    margin-top: 40px;
}

@font-face {
    font-family: alien;
    src: url(../fonts/Sevastopol-Interface.ttf);
}
body {
    height: 919px;
    background-image: url(../img/alienbackground.jpg);
    backdrop-filter: blur(8px);
}

.navbar-brand {
    margin-left: 60px;
}

.nav-link {
    transition: transform 0.3s;
    font-weight: bolder;
}

.nav-link:hover {
    transform: translateY(-5px);
}