#icon {
    position: relative;
    left: -1vw;
    top: -0.2vw;
    float: left;
    width: 2vw;
}

.header {
    color: white;
    font-family: alien;
    text-align: center;
}

@font-face {
    font-family: alien;
    src: url(../fonts/Sevastopol-Interface.ttf);
}
body {
    height: 919px;
    background-image: url(../img/alienbackground.jpg);
    backdrop-filter: blur(5px);
}

.navbar-brand {
    margin-left: 3vh;
}

.nav-link {
    transition: transform 0.3s;
    font-weight: bolder;
}

.nav-link:hover {
    transform: translateY(-5px);
}

.content aside {
    float: right;
    margin-top: 10vh;
    margin-right: 10vh;
}