@font-face {
    font-family: farceb;
    src: url(../fonts/FARCEB__.TTF);
}

#icon {
    position: relative;
    left: -1vw;
    top: -0.2vw;
    float: left;
    width: 2vw;
}

.navbar-brand {
    color: black;
    margin-left: 3vh;
}

.header {
    text-align: center;
    font-family: farceb;
    color: white;
    font-size: 45px;
}

aside {
    color: white;
    font-family: farceb;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: -230px;
}

.right-content {
    position: relative;
    bottom: 15vh;
    right: 15vh;
    width: 15vw;
    font-family: farceb;
    color: white;
    float: right;
}

section {
    margin-bottom: 2vh;
}

img {
    width: 3vh;
}

a:link {
    text-decoration: none;
}

body {
    height: 919px;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    background-image: url(../img/farcry3bck.jpg);
}


.nav-link {
    color: black;
    transition: transform 0.3s;
    font-weight: bolder;
}

.nav-link:hover {
    transform: translateY(-5px);
}