body {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/crysis.webp);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
}

.navbar-brand {
    color: black;
    margin-left: 3vh;
}

.nav-link {
    color: black;
    transition: transform 0.3s;
    font-weight: bolder;
}

.nav-link:hover {
    transform: translateY(-5px);
    
}

#icon {
    position: relative;
    left: -1vw;
    top: -0.2vw;
    float: left;
    width: 2vw;
}

.games {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    column-gap: 30vh;
}

.games , h4 {
    text-align: center;
    color: white;
    font-size: 2vh;
}

.col-md-2 {
    transition: transform 0.3s;
}

.col-md-2:hover {
    transform: translateY(10px);
}