body {
    background-image: url(../img/crysis.webp);
    backdrop-filter: blur(15px);
    background-repeat: no-repeat;
}

.navbar-brand {
    color: black;
    margin-left:60px;
}

.nav-link {
    color: black;
    transition: transform 0.3s;
    font-weight: bolder;
}

.nav-link:hover {
    transform: translateY(-5px);
    
}

#icon {
    position: relative;
    left: -20px;
    top: -5px;
    float: left;
    width: 40px;
}

.games {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    column-gap: 30vh;
}

.games , h4 {
    text-align: center;
    color: white;
    font-size: 20px;
}

.col-md-2 {
    transition: transform 0.3s;
}

.col-md-2:hover {
    transform: translateY(10px);
}